#netbeans specific

.idea
target
nbproject/private
src/main/webapp/angular


#!nbproject/project.properties
#!nbproject/project.xml
derby.log

#java specific
*.class
*.iml
nbproject/project.properties
/nb-configuration.xml